.container {
  display: grid;

  grid-template-areas:
    "header1 header1 header1"
    "aside1 header2 aside2"
    "aside1 main aside2"
    "aside1 footer2 aside2"
    "footer1 footer1 aside2";

  grid-template-columns: 20rem 1fr 20rem;
  grid-template-rows: 8rem 5rem auto 5rem 8rem;

  @media (max-width: 1200px) {
    grid-template-areas:
    "header1 header1"
    "aside1 header2"
    "aside1 main"
    "aside1 footer2"
    "footer1 footer1";

    grid-template-columns: 20rem 1fr;
  }

  @media (max-width: 768px) {
    grid-template-areas:
    "header1"
    "main"
    "footer1";

    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto 10rem;
  }
}

.grid {
  grid-area: main;
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 20rem;
  background-color: var(--primary-dark);
  color: var(--primary-contrast-light);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
}

.header1 {
  grid-area: header1;
  background-color: red;
}

.header2 {
  grid-area: header2;
  background-color: aqua;
}

.aside1 {
  grid-area: aside1;
  background-color: yellow;

}

.aside2 {
  grid-area: aside2;
  background-color: greenyellow;
}

.footer1 {
  grid-area: footer1;
  background-color: lawngreen;
}

.footer2 {
  grid-area: footer2;
  background-color: green;
}
