.header {
    height: 8rem;
    background-color: var(--primary-dark);
    color: var(--primary-contrast-light);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.header h2 {
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
}

.header img {
    width: 8rem;
    height: 8rem;
}